<?xml version="1.0" encoding="UTF-8"?>
<!-- 60초마다 설정 파일의 변경을 확인 하여 변경시 갱신 -->
<configuration scan="true" scanPeriod="60 seconds">

    <property name="LOG_PATTERN" value="%d{yy-MM-dd HH:mm:ss} %-5level [%thread]  [%logger.%method:%line] - %msg%n"/>
    <springProperty scope="context" name="LOG_PATH" source="log.config.path"/>
    <springProperty scope="context" name="LOG_FILE_NAME" source="log.config.fileName"/>
    <springProperty scope="context" name="LOG_ERROR_FILE_NAME" source="log.config.errorFileName"/>
    <springProperty scope="context" name="LOG_LEVEL" source="logging.level.root"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>